#LoginPage
{
    background-color: #07070aea;
}

#mainContent
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}

.form-control
{
    margin-bottom:15px;
}

.btn
{
    margin-top:10px;
    background-color:rgb(78, 78, 78);
}

.btn:hover
{
    background-color: rgb(156, 156, 156);
}